@charset "UTF-8";

.nav-link {
    inline-size: auto;
    display: block;
    padding: .5rem 1rem;
    margin-left: 60vw;
}
h2 {
	color:red;
}

.img_art {
   vertical-align: middle;
    border-style: none;
    width: 10%;
    height: 10%
}
    